{% extends 'base/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello please Log in</title>
</head>
<body>
{% block content %}
    <h1>Account Login</h1>
    <h2>Hello, Welcome back!</h2>
    <form action="" method="POST">
        <table>
            {% csrf_token %}
            {{ form.as_table }}

            <tr class ="login" >
                <td  colspan="2" align="right">
                    <input type="submit" value="Log In">
                </td>
                <td>
                    <a href="{% url 'reset_password' %}">Forgot Password?</a>
                </td>

            </tr>
        </table>
    </form>

    <p>Don't have an Account ? <a href="{% url 'sign-up' %}">Sign Up</a></p>
{% endblock content %}
</body>
</html>

